<launch>
  <!-- Load the robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find robot_description)/urdf/turtlebot3.xacro'"/>

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_turtlebot3" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model turtlebot3"/>

  <!-- Start Gazebo -->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="--verbose" respawn="false" output="screen"/>
</launch>
